
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size:16px;
}

body{
background-color:rgb(204, 157, 248) ;
padding-top: 20px;
}


main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 30px;
    box-shadow: 3px,3px,5px rgba(0, 0, 0, 473);
}


h1{
    text-align: center;
    font-size: 3em;
    color: rgb(58, 0, 112);
}


h2{
    font-size: 1.5em;
    text-align: justify;
    color: rgb(58, 0, 112);
}
p{
    font-size: 1em;
    text-align:justify;
    padding: 1px;
}

img.lado{
    float:right;
    padding-left:  10px;
    padding-right: 10px;
    padding-bottom: 10px;

}
img.meio{

   margin: auto;
  display: block;   
    
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover{
    text-decoration: underline;
    color: rgb(26, 20, 255);
}
p.paragrafo1{
    padding: 10px;
    text-align:justify;
    display: flex;
    
}

    
footer{
    font-size:13px;
    background-color: rgb(0, 0,0);
    color: white;
    text-align: center;
    padding-left: 20px;
   }

a.footer{
    font-size: 13px;
       color:palegreen;
       text-decoration:none;
       
   }
   
   
   
   